<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- UIkit CSS -->
    <link rel="stylesheet" href="/stylesheets/uikit.min.css">
    <script src="/javascripts/uikit.min.js"></script>
    <script src="/javascripts/uikit-icons.min.js"></script>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">

    <title>Autenticação - Agendamentos FIAP</title>
</head>

<body class="uk-container">
    <header class="uk-margin-bottom">
        <div class="uk-card uk-card-primary uk-card-body">
            <h3 class="uk-card-title">Agendamento de salas - FIAP</h3>
            <p>Sistema para agendamento e alerta de salas</p>
        </div>
    </header>
    <main>
        <div class="uk-height-medium uk-flex uk-flex-center uk-flex-middle uk-background-cover uk-light" data-src="images/fiap-aclimacao.jpg" width="500" height="250"  uk-img>
            <a class="uk-button uk-button-primary" href="/registration">Não tem acesso? Registre-se</a>
        </div>
        <script>
            UIkit.notification({
                message: 'Usuário não autenticado!',
                status: 'danger',
                pos: 'top-center',
                timeout: 3000
            });
        </script>
    </main>
</body>

</html>